.v-dialog__activator {
    height: 100%;
}

.v-dialog__container {
    display: block !important;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.transparent {
    background: transparent !important;
}

.inline-block {
    display: inline-block !important;
}